/* You can adjust the height value to your needs */
.card-custom {
    width: 600px;
  height: 700px; /* For example, set the height to 400 pixels */
  padding-top: 20px;
  margin-top: 110px;
  margin-left: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* Add more styling properties as needed */
}
.login_title{
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    
}
.card-custom {
  height: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.input-box {
  margin-bottom: 15px;
}
.link {
    color: rgb(230, 80, 26);
    text-decoration: none;
}
.link p {
    margin-left: 200px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
}
.login_des{
    display: flex;
}
.form-container {
	max-width: 400px; /* Set the maximum width of the form */
	margin: 0 auto; /* Center the form horizontally */
}

.form-container label {
	display: block; /* Display the label on a new line */
	margin-bottom: 6px; /* Add some space below each label */
}

.form-container input[type="text"],
.form-container input[type="password"] {
	width: 300px; /* Make the input fields span the full width of the container */
	padding: 8px; /* Add padding for better appearance */
	margin-bottom: 10px; /* Add some space below each input field */
	border: 1px solid #ccc; /* Add a border for visual separation */
	border-radius: 4px; /* Add rounded corners */
}

.form-container button {
	padding: 10px 20px; /* Add padding to the button */
	background-color: #516CF0; /* Set a background color */
	color: white; /* Set text color to white */
	border: none; /* Remove border */
	border-radius: 4px; /* Add rounded corners */
	cursor: pointer; /* Change cursor on hover */
  width: 300px;
}

.form-container button:hover {
	background-color: #FE8402; /* Darker color on hover */
}
